{% extends 'todo/main.html' %}
{% load socialaccount %}

{% block content %}

<div class="header-bar">
    <h1>PROJECT NOTES WEB</h1>
</div>

<style>
    .header-bar {
        text-align: center;
    }
</style>


<div class="card-body">
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="button" type="submit" value="Login Now">
    <small>        <p>Don't have an account yet? <a href="{% url 'register' %}">Register   or </a></p>
    </small>
    <button class="btn btn-outline-info">
        <a href="{% provider_login_url 'google'%}?next=/">
            <i class="fab fa-google"></i>
            Login with Google
        </a>
    </button>
 
    
    </form>
</div>
{% endblock content %}